@import '../../Sass/colors';
@import '../../Sass/mixins';

.Home {
    background: $color-primary-dark;
    width: 100%;
    margin: 0;
    @include flex-column-center();
    > h1 {
        font-size: 44px;
        margin-bottom: 12px;
    }
}